html {
  overflow-y: scroll;
}
body {
  padding: 60px 20px 60px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.intro {
  margin: 20px 0px 20px 0px;
}
.item {
  margin: 20px 0px 10px 0px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.name {
  font-size: 1.5em;
  font-weight: bold;
}
.country {
  font-size: 1.2em;
}
.modify {
  margin: 0px;
}
.description {
  margin: 15px 0px 15px 0px;
  padding: 0px 10px 0px 10px;
  border-left: 2px solid #ccc;
  background-color: #eee;
}
