<navigation></navigation>
<div class="row">
  <div class="col xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
    <h1>About this website</h1>
    <div class="intro">
    <p>
        This website was designed as an assignment for Web Technology at Eindhoven University of Technology.
        The information contained in this website may not be accurate. Please refer to the <a href="http://www.atpworldtour.com/">official ATP World Tour website</a> for real, up-to-date information about ATP players.
    </p>
    </div>
  </div>
</div>
